<div class="drawer-container">
  <div class="drawer-header">
    <h2 class="d-flex align-items-center justify-content-between m-t-0 f-w-400 m-b-0">
      <span>Registrar hospedaje</span>
      <button mat-icon-button (click)="cancelar()" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </h2>
  </div>
  <div class="drawer-content">
    <form novalidate #f="ngForm">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <label for="id_departamento" class="form-label">Departamento*</label>
                <select id="id_departamento" class="form-select" 
                    #departamentoOrigen="ngModel" required (change)="municipio();"
                    [(ngModel)]="hotel.id_departamento"
                    name="id_departamento">
                    <option [ngValue]="null" [disabled]="true">Seleccione el departamento</option>
                    @for (data of listados[0]?.lista_generica ?? []; track data.identity) {
                        <option [ngValue]="data.identity">{{ data.valor }}
                        </option>
                    }
                </select>
                @if (departamentoOrigen.invalid && (departamentoOrigen.dirty || departamentoOrigen.touched)) {
                    <div class="invalid-feedback d-block">
                        <span class="text-danger">Este campo es requerido.</span>
                    </div>
                }

            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <label for="id_municipio" class="form-label">Municipio*</label>
                <select id="id_municipio" class="form-select"
                    #municipioOrigenM="ngModel" required
                    [(ngModel)]="hotel.id_municipio"
                    name="id_municipio">
                    <option [ngValue]="null" [disabled]="true">Seleccione el  municipio</option>
                    @for (data of municipios; track data.identity) {
                    <option [ngValue]="data.identity">{{ data.valor }}
                    </option>
                    }
                </select>
                @if (municipioOrigenM.invalid && (municipioOrigenM.dirty || municipioOrigenM.touched)) {
                    <div class="invalid-feedback d-block">
                        <span class="text-danger">Este campo es requerido.</span>
                    </div>
                }
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <label for="fecha_llegada" class="form-label">Fecha de llegada*</label>
                <mat-form-field class="small" appearance="outline">
                    <input matInput [matDatepicker]="pickerLlegada" [min]="minDate" [max]="maxDate" (click)="pickerLlegada.open()" [(ngModel)]="hotel.fecha_llegada"
                        name="fecha_llegada" id="fecha_llegada" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerLlegada"></mat-datepicker-toggle>
                    <mat-datepicker #pickerLlegada></mat-datepicker>
                    <div class="invalid-feedback">
                        Este campo es requerido.
                    </div>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <label for="fecha_salida" class="form-label">Fecha de salida*</label>
                <mat-form-field class="small" appearance="outline">
                    <input matInput [matDatepicker]="pickerSalida" [min]="hotel.fecha_llegada" [max]="maxDate" (click)="pickerSalida.open()" [(ngModel)]="hotel.fecha_salida"
                        name="fecha_salida" id="fecha_salida" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerSalida"></mat-datepicker-toggle>
                    <mat-datepicker #pickerSalida></mat-datepicker>
                    <div class="invalid-feedback">
                        Este campo es requerido.
                    </div>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <label for="observaciones" class="form-label">Observaciones adicionales</label>
                <br>
                <textarea id="observaciones" class="form-control" rows="2"
                                        #observaciones="ngModel" placeholder="Observaciones adicionales"
                                        [(ngModel)]="hotel.observaciones" name="observaciones"
                                        [class.is-invalid]="observaciones.invalid && (observaciones.dirty || observaciones.touched)"
                                        maxlength="255"></textarea>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <!-- <span class="text-danger ng-star-inserted" *ngIf="errorEnhotel" [innerHTML]="error_hotel"></span> -->
            </div>
        </div>
    </form>
  </div>
  <div class="drawer-footer">
    <button mat-button type="button" (click)="cancelar()">Cerrar</button>
    <button mat-flat-button color="primary" type="button" (click)="guardar()" [disabled]="!f.valid">
        Agregar hospedaje
    </button>
  </div>
</div>