<page-header />

<div class="row">
  <div class="col-sm-12">
    <mat-card class="app-data-card">
      <mat-card-header class="app-data-card__header">
        <mat-card-title>Estudios previos</mat-card-title>
      </mat-card-header>

      <mat-card-content class="app-data-card__content">

        <!--- <div class="app-data-card__toolbar d-inline-flex">
          <mat-form-field appearance="outline" class="app-data-card__search">
            <mat-label>Buscar</mat-label>
            <input matInput type="text" (keyup)="applyFilter($event)"
              placeholder="Buscar por nombre" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>-->

        <div class="app-data-card__toolbar">
          <button mat-flat-button color="primary" type="button"
            (click)="crearEstudiosPreviosAcuerdo()">
            <mat-icon>add</mat-icon>
            Crear estudios previos
          </button>
        </div>

        <div style="width: 100%">
          <div class="form-row">
            <div class="row">

              <!-- Programa -->
              <div class="col-md-6 mb-3">
                <label for="programa" class="form-label font-weight-bold">Filtrar por
                  programa</label>
                <select id="programa" class="form-select" required [(ngModel)]="selectedProgramId"
                  name="program_id">
                  <option [ngValue]="null" disabled>Seleccione el programa</option>
                  @for (prog of programs; track prog.id_programa) {
                  <option [ngValue]="prog.id_programa">{{ prog.name }}</option>
                  }
                </select>
              </div>



              <!-- estados -->
              <div class="col-md-6 mb-3">
                <label for="programa" class="form-label font-weight-bold">Filtrar por estado</label>
                <select id="programa" class="form-select" required [(ngModel)]="selectedProgramId"
                  name="program_id">
                  <option [ngValue]="null" disabled>Seleccione el estado</option>
                  @for (prog of states; track prog.id) {
                  <option [ngValue]="prog.state">{{ prog.state }}</option>
                  }
                </select>
              </div>

            </div>
          </div>
        </div>
        <div style="width: 100%">
          <hr />
        </div>
        <div style="width: 100%">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
            <small><b>Total de registros [{{total}}]</b></small>
          </div>
        </div>

        <div class="app-data-table-wrapper" style="height: 500px; overflow: auto">
          <table mat-table [dataSource]="estPreviosTable" class="app-data-table mat-elevation-z1">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                ID
              </th>
              <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="precedents">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Antecedentes
              </th>
              <td mat-cell *matCellDef="let row">{{ row.precedents | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="justification">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Justificación
              </th>
              <td mat-cell *matCellDef="let row">{{ row.justification | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="scope">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Alcance
              </th>
              <td mat-cell *matCellDef="let row">{{ row.scope | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="overall_objective">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Objetivo general
              </th>
              <td mat-cell *matCellDef="let row">{{ row.overall_objective | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="term">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Plazo
              </th>
              <td mat-cell *matCellDef="let row">{{ row.term | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="obligations">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Obligaciones
              </th>
              <td mat-cell *matCellDef="let row">{{ row.obligations | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="supervisor">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Supervisor
              </th>
              <td mat-cell *matCellDef="let row">{{ row.supervisor | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="total_value">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Valor total
              </th>
              <td mat-cell *matCellDef="let row">{{ row.total_value | number }}</td>
            </ng-container>

            <ng-container matColumnDef="contributions_ei">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Aportes EI
              </th>
              <td mat-cell *matCellDef="let row">{{ row.contributions_ei | number }}</td>
            </ng-container>

            <ng-container matColumnDef="total_value_executes_fpn">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Valor total que ejecuta FPN
              </th>
              <td mat-cell *matCellDef="let row">{{ row.total_value_executes_fpn | number }}</td>
            </ng-container>

            <ng-container matColumnDef="total_value_executes_ei">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Valor total que ejecuta EI
              </th>
              <td mat-cell *matCellDef="let row">{{ row.total_value_executes_ei | number }}</td>
            </ng-container>

            <ng-container matColumnDef="implementers">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Implementadora
              </th>
              <td mat-cell *matCellDef="let row">{{ row.implementers }}</td>
            </ng-container>

            <ng-container matColumnDef="cap_assessments_state">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Estado evaluación de capacidades
              </th>
              <td mat-cell *matCellDef="let row">{{ row.cap_assessments_state }}</td>
            </ng-container>

            <ng-container matColumnDef="app_request">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Solicitud de aprobación
              </th>
              <td mat-cell *matCellDef="let row">{{ row.app_request }}</td>
            </ng-container>

            <ng-container matColumnDef="persons">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Lider del pilar
              </th>
              <td mat-cell *matCellDef="let row">{{ row.persons }}</td>
            </ng-container>

            <ng-container matColumnDef="capacity_assessment">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Evaluación de capacidades
              </th>
              <td mat-cell *matCellDef="let row">{{ row.capacity_assessment }}</td>
            </ng-container>

            <ng-container matColumnDef="programs">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Programa
              </th>
              <td mat-cell *matCellDef="let row">{{ row.programs }}</td>
            </ng-container>

            <ng-container matColumnDef="contributions_fpn">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Aportes FPN
              </th>
              <td mat-cell *matCellDef="let row">{{ row.contributions_fpn | number }}</td>
            </ng-container>

            <ng-container matColumnDef="estimated_term">
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Plazo estimado
              </th>
              <td mat-cell *matCellDef="let row">{{ row.estimated_term | uppercase }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones" stickyEnd>
              <th mat-header-cell *matHeaderCellDef
                style="position: sticky; top: 0; background: #fff; z-index: 2">
                Acciones
              </th>
              <td mat-cell *matCellDef="let element">
                <a href="javascript:void(0)" style="text-decoration: none">
                  <mat-icon>edit</mat-icon>
                </a>

                <a href="javascript:void(0)" style="text-decoration: none"
                  title="Continuar flujo de aprobación" alt="Continuar flujo de aprobación"
                  (click)="continuarFlujo(element.id)">
                  <mat-icon title="Continuar flujo de aprobación"
                    alt="Continuar flujo de aprobación">clear_all</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell app-data-table__empty" [attr.colspan]="displayedColumns.length">
                No se encontraron evaluaciones con ese criterio.
              </td>
            </tr>
          </table>
        </div>

        <mat-paginator [pageSize]="pageSizeOptions[0]" [pageSizeOptions]="pageSizeOptions"
          showFirstLastButtons aria-label="Paginación de evaluación de capacidades" />
      </mat-card-content>
    </mat-card>
  </div>
</div>